
@model IEnumerable<FullStackManagementMVC.Models.ToDoList>

<div style="padding: 30px">
    <h1>To-Do List</h1>
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <div id="tableDiv"></div>
</div>
        @section Scripts {
            <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
            <script src="~/CustomScripts/BuildTable.js"></script>

        }
