<!-- Begin Page Content -->
<div class="row">

    <div class="col-lg-6">

        <!-- Circle Buttons -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Feeling Like A Boss</h6>
            </div>
            <div class="card-body">
                <iframe src="https://open.spotify.com/embed/playlist/37i9dQZF1DXdxTsNp0Bzwq" width="100%" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media">
                </iframe>


            </div>
        </div>

        <!-- Brand Buttons -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Party Time</h6>
            </div>
            <div class="card-body">
                <iframe src="https://open.spotify.com/embed/playlist/0MJjDVvC20xinTETjoZrvM" width="100%" height="380" frameBorder="0" allowtransparency="true" allow="encrypted-media"></iframe>

            </div>
        </div>

    </div>

    <div class="col-lg-6">

        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Extreme Workout</h6>
            </div>
            <div class="card-body">
                <iframe src="https://open.spotify.com/embed/playlist/37i9dQZF1DWY3PJWG3ogmJ" width="100%" height="380"
                        frameBorder="0" allowtransparency="true" allow="encrypted-media"></iframe>


            </div>
        </div>

        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Beach Life</h6>
            </div>
            <div class="card-body">
                <iframe src="https://open.spotify.com/embed/artist/3GBPw9NK25X1Wt2OUvOwY3" width="100%" height="380" frameBorder="0" allowtransparency="true" allow="encrypted-media"></iframe>


            </div>
        </div>

    </div>

</div>
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- End of Main Content -->
