@model Nasa
<!-- End of Topbar -->


<div class="text-center">
    <h1 class="display-4">Welcome to NASA Daily</h1>

    <h5>@Model.Date</h5>
    <p style=" padding-top: 50px; padding-right: 50px; padding-bottom: 50px; padding-left: 50px;">@Model.Explanation</p>
    <img src="@Model.Url" class="img-fluid" style=" padding-top: 50px; padding-right: 50px; padding-bottom: 50px; padding-left: 50px;" />


</div>

